.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}
