@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
  }
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground, 222 47% 11%));
    font-family: Arial, Helvetica, sans-serif
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .blinking {
    animation: blink 1s steps(1, end) infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1; /* fully visible */
    }
    50% {
      opacity: 0; /* fully invisible */
    }
    100% {
      opacity: 1;
    }
  }
}